/* fonts */
@font-face {
    font-family: Merriweather;
    src: url(./fonts/MerriweatherSans-Regular.ttf);
}

@font-face {
    font-family: Merriweather-Bold;
    src: url(./fonts/MerriweatherSans-Bold.ttf);
}

@font-face {
    font-family: Merriweather-ExtraBold;
    src: url(./fonts/MerriweatherSans-ExtraBold.ttf);
}

body {
    background-color: #2A2A2A;
}

/* nav */
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 100px;
    position: sticky;
    background-color: #161616;
    box-shadow: #000000 0 20px 20px;
    padding: 20px;
    top: 0;
    z-index: 10000;
}

nav img {
    width: 25%;
    margin-left: 50px;
}

nav input {
    background-color: #212121;
    color: #8F8989;
    border: none;
    border-radius: 16px;
    padding: 20px;
    font-family: Merriweather;
}

nav ul {
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
}

nav ul li a {
    color: white;
    font-family: Merriweather;
    letter-spacing: 2px;
}


/* footer */
footer {
    position: absolute;
    background-color: #161616;
    z-index: 10000;
}

footer div {
    width: 80%;
    margin: auto;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 30px;
}

footer div img {
    width: 90%;
}

footer div ul li a {
    color: white;
    font-family: Merriweather;
    font-size: 24px;
}

footer div ul {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

footer div article p {
    margin-top: 20px;
    color: white;
    font-family: Merriweather;
    font-size: 14px;
    line-height: 20px;
    width: 40%;
}


/* side nav */
aside {
    background-color: #121212;
    width: 22%;
    position: fixed;
    height: 100%;
}

aside ul li {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 75px 20px;
    width: 65%;
    padding: 10px 30px;
    margin-left: auto;
    border-radius: 10px;
}

aside ul li.active {
    background-color: #2B2B2B;
}

aside ul li img {
    width: 50%;
    justify-self: center;
}

aside ul li h3 {
    color: #ECECEC;
    text-transform: uppercase;
    font-family: Merriweather;
    align-self: center;
}


/* body of page */
main {
    background-color: rgb(10, 10, 10);
    width: 78%;
    margin-left: auto;
    padding-bottom: 100px;
}

main>div {
    margin-left: 100px;
    margin-right: 80px;
    padding-top: 60px;
}

main div h1 {
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-family: Merriweather-Bold;
    letter-spacing: 2px;
}

main div section.sprookjes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
    margin-bottom: 80px;
}

main div section.sprookjes a {
    width: 325px;
    height: 325px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    position: relative;
}

main div section.sprookjes a img:nth-child(1) {
    z-index: 100;
    opacity: 0.3;
}

main div section.sprookjes a img:nth-child(2) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

main div section.sprookjes a img {
    border-radius: 20px;
}

main div section.sprookjes a img,
main div section.sprookjes a h2,
main div section.sprookjes a p {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: end;
}

main div section.sprookjes a h2,
main div section.sprookjes a p {
    color: white;
    margin-left: 20px;
    text-transform: uppercase;
    z-index: 200;
}

main div section.sprookjes a h2 {
    font-family: Merriweather-Bold;
    margin-bottom: 80px;
    font-size: 20px;
    line-height: 24px;
}

main div section.sprookjes a p {
    margin-bottom: 20px;
    font-family: Merriweather;
    font-size: 18px;
}

main div section.sprookjes a p:nth-child(4) {
    margin-bottom: 45px;
}

main div section.sprookjes a img:nth-child(6) {
    width: 8%;
    justify-self: right;
    margin-right: 40px;
    margin-bottom: 20px;
    z-index: 200;
}

main div a.loadMore {
    background-color: #4F836B;
    border-radius: 10px;
    padding: 10px;
    color: white;
    display: block;
    width: 150px;
    margin: auto;
    font-family: Merriweather;
    font-size: 18px;
    margin-top: 40px;
    text-align: center;
    cursor: pointer;
}

main div a.loadMore img {
    width: 18px;
    transform: rotate(90deg);
    margin-right: 10px;
}

/* making of layout */
section#makingOf {
    background-color: #121212;
    padding-bottom: 50px;
    margin-top: 20px;
    border-radius: 20px;
}

section#makingOf article {
    padding-bottom: 50px;
}

section#makingOf article:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

section#makingOf article:nth-child(1) img {
    border-radius: 20px;
    object-fit: cover;
    height: 300px;
    filter: brightness(0.5);
}

section#makingOf article h2, 
section#makingOf article h3 {
    z-index: 1;
}

section#makingOf article:nth-child(1) img,
section#makingOf article:nth-child(1) h2,
section#makingOf article:nth-child(1) h3 {
    grid-column: 1/2;
    grid-row: 1/2;
    color: white;
    align-self: end;
    font-family: Merriweather;
}

section#makingOf article:nth-child(1) h2 {
    text-transform: uppercase;
    margin-bottom: 100px;
    margin-left: 40px;
    font-size: 36px;
    letter-spacing: 8px;
}

section#makingOf article:nth-child(1) h3 {
    margin-bottom: 50px;
    margin-left: 40px;
    font-size: 24px;
}

section#makingOf article:nth-child(1) h3 span {
    font-family: Merriweather-Bold;
}

section#makingOf article:nth-child(2) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 90%;
    margin: auto;
    grid-gap: 60px;
}

section#makingOf article:nth-child(2) div p {
    margin-top: 10px;
    color: white;
    font-family: Merriweather;
    line-height: 2;
    font-size: 14px;
}

section#makingOf article:nth-child(3) {
    width: 90%;
    margin: auto;
}

section#makingOf article:nth-child(3) article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 20px;
}

section#makingOf article:nth-child(3) article div {
    width: 250px;
    height: 250px;
}

section#makingOf article:nth-child(3) article div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* Navigatie sprookjes */
#sprookjesNav {
    display: block;
}

#sprookjesNav ul {
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    margin: auto;
    align-items: center;
}

#sprookjesNav ul li h3 {
    font-family: Merriweather;
    font-size: 20px;
    text-align: center;
}

#sprookjesNav ul li h3 span {
    font-family: Merriweather-Bold;
    text-transform: uppercase;
}

#sprookjesNav ul li:nth-child(1) a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 50%;
}

#sprookjesNav ul li a img:nth-child(1) {
    transform: rotate(180deg);
    width: 50%;
}

#sprookjesNav ul li a img:nth-child(2) {
    width: 100%;
}

#sprookjesNav ul li:nth-child(4) {
    justify-self: center;
}

#sprookjesNav ul li:nth-child(4) a {
    color: #161616;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

/* Hans en grietje */
@font-face {
    font-family: Oswald-Medium;
    src: url(./fonts/Oswald-Medium.ttf);
}

@font-face {
    font-family: Poppins-ExtraLight;
    src: url(./fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(./fonts/Poppins-Medium.ttf);
}

#hansGrietje {
    background-color: #2A2A2A;
    color: white;
}

#hansGrietje p {
    font-family: Poppins-ExtraLight;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

#hansGrietje p span.hans {
    color: #CCB13E;
    font-family: Poppins-Medium;
}

#hansGrietje p span.grietje {
    color: #B59E3A;
    font-family: Poppins-Medium;
}

#hansGrietje p span.heks {
    color: #3B8A53;
    font-family: Poppins-Medium;
}


#hansGrietje > div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#hansGrietje > div::-webkit-scrollbar {
    display: none;
}

#hansGrietje>div>div {
    height: 7100px !important;
}

#hansGrietje nav {
    height: 10vh;
    background-color: white;
    box-shadow: none;
}

#hansGrietje header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr 3fr;
}

#hansGrietje header #moon {
    grid-column: 5/6;
    grid-row: 1/3;
    width: 80%;
    margin-top: 20px;
}

#hansGrietje header h1 {
    font-family: Oswald-Medium;
    text-align: center;
    font-size: 130px;
    grid-column: 2/5;
    grid-row: 2/3;
}

#hansGrietje .animation-layer {
    background-position: bottom center;
    background-size: auto 1000px;
    width: 100%;
    height: 1000px;
}

#hansGrietje header div#trees {
    grid-column: 1/6;
    grid-row: 3/6;
}

#hansGrietje header div#trees div img {
    margin-top: 175px;
    filter: drop-shadow(#2e2e2e 2px 2px 10px);
}

#hansGrietje header div#trees div:nth-child(4) img {
    margin-top: 150px;
}

#hansGrietje header div#trees div:nth-child(6) img {
    margin-top: 125px;
}

#hansGrietje header img:nth-child(4) {
    grid-column: 3/4;
    grid-row: 4/5;
    justify-self: right;
    margin-top: 100px;
}

#hansGrietje header img:nth-child(5) {
    grid-column: 3/5;
    grid-row: 3/5;
    justify-self: left;
    width: 40%;
    margin-left: 310px;
    opacity: 0.4;
    z-index: -1;
    position: relative;
}

#hansGrietje .fix {
    background: rgb(42, 42, 42);
    background: linear-gradient(0deg, rgba(42, 42, 42, 1) 70%, rgba(255, 255, 255, 0) 100%);
    height: 400px;
    margin-top: -400px;
    z-index: 1000;
    position: relative;
}


.scroll-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 200px;
}

.scroll-container div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.scroll-container img {
    width: 200%;
    position: relative;
    z-index: 2000;
    grid-column: 1/2;
    grid-row: 1/2;
}

.scroll-container p {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 2500;
}

.scroll-container p:nth-child(2) {
    margin-left: 125%;
    text-align: left !important;
}

.horizontal-scroll+p {
    margin-top: 400px;
}

#house {
    width: 50%;
    margin: auto;
    margin-top: 200px;
    cursor: pointer;
}

#houseBites {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#houseBites img {
    grid-column: 1/2;
    grid-row: 1/2;
}

#houseBites img:nth-child(1) {
    z-index: 100;
}

#house .fix,
#door .fix {
    background: linear-gradient(0deg, rgba(42, 42, 42, 1) 30%, rgba(255, 255, 255, 0) 100%);
}

#door {
    margin-top: 200px;
}

#door div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 80%;
    margin: auto;
}

#door div img {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto;
    position: relative;
}

#door div img:nth-child(1) {
    width: 70%;
    z-index: 3;
}

#door div img:nth-child(2) {
    width: 20%;
    z-index: 2;
    margin-bottom: 550px;
}

#door div img:nth-child(3) {
    width: 8%;
    margin-bottom: 580px;
    z-index: 1;
}

#door+p {
    margin-top: 400px;
}

#prison {
    display: grid;
    grid-template-columns: 1/2;
    grid-template-rows: 1/2;
    margin-top: 200px;
}

#prison div {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: move;
}

#prison div img {
    width: 120%;
}

#prison img {
    position: relative;
}

#prison div,
#prison div+img {
    grid-column: 1/2;
    grid-row: 1/2;
}

#prison div img {
    z-index: 2;
}

#prison div+img {
    width: 8%;
    margin: auto;
    z-index: 1;
}

#fire {
    margin-top: 200px;
}

#fire .fix {
    background: linear-gradient(0deg, rgba(42, 42, 42, 1) 10%, rgba(255, 255, 255, 0) 50%);
}

#fire+p {
    margin-top: 200px;
}

#hansGrietje h2 {
    font-family: Oswald-Medium;
    font-size: 120px;
}

#end-horizontal-scroll {
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-top: 400px;
    justify-content: flex-end;
}

#end-horizontal-scroll div {
    width: 200%;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr;
}


#end-horizontal-scroll div img {
    grid-column: 1/4;
    grid-row: 1/2;
}

#end-horizontal-scroll div p {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 90vh;
    margin-top: 100px;
    text-align: left;
}

#end-horizontal-scroll div h2 {
    grid-column: 3/4;
    grid-row: 1/2;
margin-left: 100vh;
margin-top: 50px;
}